$color-primary-violet: hsl(263, 55%, 52%);
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-blue: hsl(217, 19%, 35%);
$color-secondary-blue: hsl(219, 29%, 14%);
$color-tertiary-blue: hsl(210, 46%, 95%);
$color-primary-gray: hsl(0, 0%, 81%);
$color-primary-black: hsl(0, 0%, 0%);
